.profile-page-container {
    min-height: 75vh;
}

.profile-page-content {
    width: 80%;
    padding: 6rem 2rem 4rem 2rem;
    row-gap: 1rem;
    margin: auto auto 5rem;
}

.profile-details {
    row-gap: 1.5rem;
    justify-content: flex-start;
}

.account-details-heading {
    font-size: 2.4rem;
}

.account-name, .account-email {
    font-size: 1.6rem;
    column-gap: 2rem;
}

.profile-logout-btn {
    margin-top: 1rem;
}
