/* -------------------------------------> Product List Main comps <---------------------------- */
.product-grid-2-column {
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-column-gap: 4rem;
}

.product-grid-3-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 5rem;
    row-gap: 2rem;
}

/* ==================> Products comp <======================= */
.products {
    margin: 2rem 2rem 5rem 0;
    position: relative;
}

.spinning-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-cards {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.product-cards .zoom {
    transition: transform 0.7s;
}

.product-cards .zoom:hover {
    transform: scale(1.1);
}

.product-cards .card-badge {
    line-height: 115%;
}

.product-cards .card-text-overlay .card-header {
    font-size: 2.4rem;
}

.product-cards .card-header {
    font-size: 2rem;
}

.product-cards .card-title {
    font-size: 1.8rem;
    color: var(--content-text-color);
}

.product-cards .card .card-button {
    border-radius: 1rem;
    margin-left: 2rem;
}

.product-cards .card .out-of-stock-btn {
    margin-left: 0;
}

.product-cards .card .card-button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.productList-empty-container {
    display: flex;
    width: 80%;
    padding: 2rem;
    row-gap: 1rem;
    margin: auto auto 5rem;
}

.productList-empty-heading {
    font-size: 2.4rem;
    text-align: center;
    color: var(--default-darker-color);
}

.productList-empty-content {
    font-size: 2rem;
    text-align: center;
}

.productList-empty-img {
    width: 30rem;
    height: 35rem;
}

/* --------------------------------------> Responsive CSS <---------------------------------- */
@media only screen and (max-width: 560px) {
    .main-container .pricing-filter-sidebar {
        display: none;
    }

    .product-grid-2-column {
        grid-template-columns: 1fr;
    }

    .product-grid-3-column {
        justify-items: center;
    }

    .productList-empty-container {
        padding-left: 0;
        padding-right: 0;
    }

    .productList-empty-heading {
        font-size: 1.8rem;
    }

    .productList-empty-content {
        font-size: 1.6rem;
    }
}
