@import "../Signup/SignupForm.css";

.password-reset-form {
    box-shadow: 0px 0px 10px var(--gray-color);
    width: 90%;
    margin: 4rem 0;
}

.password-reset-form-fields {
    width: 100%;
}

.password-reset-form-fields .input-label {
    align-self: flex-start;
    font-size: 1.6rem;
    margin-left: 3rem;
}

.password-reset-input {
    width: 80%;
}

.reset-password-btn {
    width: 85%;
}

