/* ---------------------------------------> Main Section <--------------------------------------- */
.main-container {
    width: 100%;
}

/* -------------------------------------> Material Icons CSS <---------------------------------- */
.card-buttons .material-icon-size {
    width: 2.4rem;
    height: 2.4rem;
}

/* -------------------------------------> Overlay for Sliding comps <--------------------------- */
.overlay {
    background-color: var(--overlay-color);
}

.overlay-bg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--white-color);
    transition: background-color 0.2s ease;
}

.overlay-show {
    display: block;
    background-color: var(--overlay-color);
}

.overlay-priceFilterSideBar-show {
    display: block;
    background-color: var(--overlay-color);
    z-index: 1;
}
