.cart-card-details {
    height: 100%;
    justify-content: flex-end;
    flex-grow: 1;
}

.card-quantity-btns {
    margin: 1rem 2rem 1rem;
}

.card-quantity-btns span {
    font-size: 1.8rem;
    padding: 0.3rem 0.6rem;
}

.card-quantity-btns .qty {
    margin: 0 1rem;
    border: 1px solid var(--hover-color);
    background-color: var(--lynx-white);
}

.increase-qty, .decrease-qty {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 1rem;
    color: var(--lynx-white);
    background-color: var(--primary-color);
}

/* --------------------------------------> Responsive CSS <------------------------------ */
@media only screen and (max-width: 400px) {
    .cart-card-details .card-button {
        font-size: 1.4rem;
    }
}