.hide-logout-btn {
    display: none;
}

.logout-btn {
    color: var(--danger-color);
}

.logout-btn .sidebar-icon, .logout-btn .sidebar-item-txt {
    color: var(--danger-color);
}

.logout-btn .sidebar-item-txt:after {
    border-bottom: none;
}